


<div class="mainbox">
  <div class="bordurshow">
    <div class="resulta">

        <div class="stylebordurwin">
          You Win !!
        </div>

        <div class="icondisplay">
          <div><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/114557-200.png" alt="Rock"></div>
          <div>   vs     </div>
          <div><img src="https://maxcdn.icons8.com/Android_L/PNG/512/Healthcare/scissors-512.png" alt="Scissors"></div>
        </div>

        <div>
          <button> try again </button>
        </div>

    </div>
  </div>
</div>

