.back{

  display: flex;
  position: relative;
  background-color: rgb(224, 224, 228);
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.wap{
  flex: 12cm;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;

}
.bordurdesign{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  border: 8px solid rgb(82, 76, 109);
  background-color: rgb(202, 203, 206);

  width: 18cm;
  height: 8cm;
}
.buttonseparator{
  display: flex;
  justify-content: space-around;


}
button{
  margin-top: 10cm;
  border: rgb(82, 76, 109) solid 2px;
}
img{
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

header{
  margin-top: 5mm;
  text-align: center;
  width: 300px;
  padding: 40px;
  border: 5px double rgb(82, 76, 109) ;
  background-color: rgb(202, 203, 206);
  color: rgb(82, 76, 109);
}
.push{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5mm;
}
.buttonorganised{

}

.ok{
  margin: 0.5cm;
  width: 10cm;
}

