


<div class="back">
  <header>
    <h2 >pierre Papier Ciseaux</h2>
  </header>
    <div class="wap">

      <div class="bordurdesign">
      <button>
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/114557-200.png" alt="Rock">
      </button>
      <button>
        <img src="https://cdn3.iconfinder.com/data/icons/cleaning-solid-1/48/10-512.png" alt="Paper">
      </button>
      <button>
        <img src="https://maxcdn.icons8.com/Android_L/PNG/512/Healthcare/scissors-512.png" alt="Scissors">
      </button>
    </div>
      </div>
</div>

<div>

</div>

