div{
  width: 20cm;
  background-color: rgba(242, 242, 243, 0.712);
  border: gray;
  position: fixed;
  height: 8cm;
  top:40%;
  left:50%;
  margin-top:-40px;
  margin-left:-20%;


}

@keyframes flash {
  0%, 50%, 100% {
     opacity: 1;
  }
  25%, 75% {
     opacity: 0;
  }
}

button{

  margin: 30px;
  margin-top:45px ;
  width: 5cm;
  height: 5cm;
}
img{
  -webkit-tap-highlight-color: transparent;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
