


<div class="back">
  <header>
    <h1 >Pierre Papier Ciseaux</h1>
  </header>
  <div class="wap">
    <div class="bordurdesign">
      <div class="buttonorganised" >

        <button (click)="selectOp('Rock')" [ngClass]="{'green' : RockPick, 'red': !RockPick}">
          <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/114557-200.png" alt="Rock" width="160" height="145">
        </button>

        <button (click)="selectOp('Paper')" [ngClass]="{'green' : PaperPick, 'red': !PaperPick}">
          <img  src="https://cdn3.iconfinder.com/data/icons/cleaning-solid-1/48/10-512.png" alt="Paper" width="160" height="145">
        </button>

        <button (click)="selectOp('Scissors')" [ngClass]="{'green' : ScissorsPick, 'red': !ScissorsPick}" >
          <img src="https://maxcdn.icons8.com/Android_L/PNG/512/Healthcare/scissors-512.png" alt="Scissors" width="160" height="145">
        </button>

        <div class="push">
          <button class="ok" (click)="validationUser()"> Shoot </button>
        </div>
      </div>
    </div>
  </div>
</div>
